*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  background-color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #969696;
  background-color: #000;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(./images/phone.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding: 15px;
  margin: 0;
  margin-left: 170px;
}

.contact-info > li {
  padding: 14px 10px;
  font-size: 12px;
  line-height: 16px;
}

.user-navigation > li {
  font-size: 12px;
  line-height: 16px;
  padding: 14px;
  background-image: url(./images/log-in.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.user-navigation > li a {
  text-decoration: none;
  color: #969696;
}

.user-navigation > li a:hover {
  color: #fff;
}

.secondary-header {
  background-color: #0f0f0f;
  color: #fff;
}

.bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 16px 40px;
  margin-left: 130px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.main-menu > li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}
.login-link {
  width: 100%;
  height: 100%;
}

.main-menu > li {
  padding: 30px 0;
}

.main-menu > li a:hover {
  background-color: #1f1f1f;
}

.main-menu > li a:active {
  background-color: #3f3f3f;
}

.acquaintance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid #fff;
  padding: 95px 70px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.line {
  padding-top: 20px;
}

.acquaintance > p {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 154px;
  max-width: 800px;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-timing {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 72px;
  font-family: "Playfair Display", serif, "PT Sans", sans-serif;
  margin-top: -20px;
}

.line-1 {
  padding-bottom: 80px;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: -51px;
}

.catalog-item {
  background-color: #191b1c;
  margin-right: 20px;
  padding: 55px 22px;
  max-width: 200px;
}

.new-collection-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(./images/man-in-chair.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 40px;
  max-width: 800px;
}

.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 250px 100px 10px 100px;
  font-size: 36px;
  line-height: 72px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin-top: -144px;
}

.line-2 {
  margin-bottom: 30px;
}

.box-content > input {
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  padding: 10px;
  margin-bottom: 60px;
}

.box-content > input:hover {
  background-color: rgba(247, 252, 247, 0.3);
}

.collection-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.article > h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 72px;
  font-family: "Playfair Display", serif;
  margin-top: 0;
}

.article > p {
  max-width: 500px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
}

.article > input {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}

.article > input:hover {
  background-color: rgba(247, 252, 247, 0.3);
}

.catalog-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.catalog-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin-bottom: 40px;
}
.catalog-products > p {
  background-color: #191b1c;
  margin: 30px;
  padding: 55px 22px;
  max-width: 200px;
}

.new-arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 40px;
}

.partners-background {
  background-color: #0f0f0f;
}

.partners-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
  padding: 15px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
}

.about-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(./images/pre-footer-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-store-article {
  margin-left: 40px;
  margin-right: 50px;
}

.about-store-article > h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
  text-transform: uppercase;
}

.about-store-article > p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  max-width: 400px;
}

.catalog-categories > h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 20px;
}

.clothing-accessories > a {
  text-decoration: none;
  color: #fff;
  background-color: #0f0f0f;
  padding: 10px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.clothing-accessories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clothing-accessories > a:hover {
  background-color: rgba(247, 252, 247, 0.3);
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
}

.mailing-form > h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mailing-form > p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0;
}

.mail {
  color: #fff;
  background-color: rgba(251, 251, 251, 0.3);
  border: none;
  padding: 15px;
  margin: 0;
}

.password {
  color: #fff;
  background-color: #0f0f0f;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  margin: 0;
}

.password:hover {
  background-color: rgb(97, 15, 15);
}

.password:focus {
  background-color: rgb(151, 3, 3);
  outline: none;
}

.mail:hover,
.mail:focus {
  background-color: #969696;
  outline: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #1f1f1f;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.modal-login {
  width: 400px;
  padding: 50px;
  top: 175px;
  left: 60%;
  display: none;
  
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-close {
  position: absolute;
  top: 0px;
  right: -23px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.modal-close:focus {
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: rgba(251, 251, 251, 0.5);
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 37px;
}

.modal-description {
  margin: 0;
  margin-bottom: 20px;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  border-radius: 20px;
  border: none;
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #fff;
}

.login-form input:focus,
.login-form input:hover {
  background-color: #3f3f3f;
  outline: none;
}

.login-form .login-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  color: #fff;
}

.login-checkbox {
  color: #fff;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #969696;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 13px;
  height: 2px;
  background-color: #fff;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.restore {
  text-decoration: underline;
  color: #fff;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form .button {
  width: 100%;
  margin-right: 0;
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}

.login-form .button:hover {
  background-color: #3f3f3f;
}

.login-form .button:active {
  outline: none;
  background-color: #969696;
}
